a {
    background-color: blue;
  box-shadow: 0 5px 0 darkblue;
  color: white;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover {
  background-color: #0609ce;
  cursor: pointer;
}

a:active {
  box-shadow: none;
  top: 5px;
}
